rationality_from_ai_to_zombies.aux
rationality_from_ai_to_zombies.log
rationality_from_ai_to_zombies.out
rationality_from_ai_to_zombies.pdf
rationality_from_ai_to_zombies.toc
version.tex.aux
version.tex
rationality_from_ai_to_zombies_2c.pdf
